---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


// =====================================================================
// This file should only be used to define the necessary imports.
// It should _never_ contain any rules or variables.
// =====================================================================

// =====================================================================
// Import project variables
// =====================================================================
@import "settings";
@import "colors";
@import "functions";

@import "components/Pagination";

@import "vendor/rouge/rouge";
@import "vendor/typeplate-sk/typeplate-index";

.wf-active body,
.wf-inactive body {
    opacity: 1;
    -webkit-transition: opacity .1s ease-out;
    -moz-transition: opacity .1s ease-out;
    -o-transition: opacity .1s ease-out;
    transition: opacity .1s ease-out;
}

body {
    padding: 1em;
    max-width: 40em;
    margin: 0 auto;
    opacity: 0;
    font-family: 'Exo 2', sans-serif;
    background-color: rgb(245,245,245);
    color: color(black);
}

a {
    color: #de4d1f;
    &:hover {
        color: darken(#de4d1f, 5%);
        transition: all .3s ease-out;
    }
}

.MainNav-item {
    color: #2d2d2d;
    text-decoration: none;
    &:hover { color: #de4d1f; }
    @extend .typl8-epsilon;

    @media( min-width: 480px ) {
        @include typl8-typescale(
                        map-get($typl8-scale, typl8-delta),
                        $typl8-font-base,
                        '#{$typl8-typescale-unit}',
                        $typl8-measure
        );
    }
}

body > header {
    margin-bottom: 1em;
    border-bottom: 1px solid #444;
    @media( min-width: 480px ) {
        margin-bottom: 3em;
    }
}

.HeaderLogo {
    max-width: 12.5em;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.Wordbrand {
    padding-top: .6em;
    padding-left: 1em;
}

.LogoContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: .5em 0 .5em 0;
    @media screen and(min-width: 480px) {
        margin: 2em 0 1.5em 0;
    }

    a {
        text-decoration: none;}

    .typl8-beta {
        @extend .typl8-gamma;

        @media( min-width: 480px ) {
            @include typl8-typescale(
                            map-get($typl8-scale, typl8-beta),
                            $typl8-font-base,
                            #{$typl8-typescale-unit},
                            $typl8-measure
            );
        }
    }
}

.MainNav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.ArticleMeta {
    @include clearfix();
    margin-bottom: .25em;
}

article h1 {
    @extend .typl8-gamma;
    color: color(red);

    @media( min-width: 768px ) {
        @include typl8-typescale(
            map-get($typl8-scale, typl8-alpha),
            $typl8-font-base,
            #{$typl8-typescale-unit},
            $typl8-measure
        );
    }
}

article h2 {
    @extend .typl8-delta;

    @media( min-width: 768px ) {
        @include typl8-typescale(
                        map-get($typl8-scale, typl8-beta),
                        $typl8-font-base,
                        #{$typl8-typescale-unit},
                        $typl8-measure
        );
    }
}

article h3 {
    @extend .typl8-epsilon;

    @media( min-width: 768px ) {
        @include typl8-typescale(
                        map-get($typl8-scale, typl8-gamma),
                        $typl8-font-base,
                        #{$typl8-typescale-unit},
                        $typl8-measure
        );
    }
}

.ArticleCategories {
    display: inline;
    margin: 0;
    padding: 0;
    li {
        display: inline-block;
        list-style: circle;
        &:before {
            content: "\00b7";
            display: inline;
            padding: 0 2px;
            font-weight: bold;
        }
    }
}

.ArticleDate {
    display: block;
    @media screen and(min-width: 480px) {
        float: right;
    }
}

.typl8-drop-cap:first-letter {
    font-size: 3em;
    @media screen and(min-width: 480px) {
        font-size: 4em;
    }
}

article.Teaser {
    margin: 1em 0 4em 0;
    blockquote {
        margin-left: 0;
    }
}

article.Teaser h2 {
    @extend .typl8-epsilon;

    @media( min-width: 768px ) {
        @include typl8-typescale(
            map-get($typl8-scale, typl8-delta),
            $typl8-font-base,
            #{$typl8-typescale-unit},
            $typl8-measure
        );
    }
}

figure.highlight {
    background-color: rgba(220,220,220, .8);
}
pre {
  overflow-x: scroll;
}
pre.lineno {
    padding-right: 1em;
    padding-left: .5em;
}

nav.footer {
    display: flex;
    a {
        padding-right: 1em;
    }
    a:last-of-type {
        margin-left: auto;
        padding-right: 0;
    }
}