---
layout: home
---

{% for post in site.posts %}

{% assign content_words = post.content | number_of_words %}

{% assign excerpt_words = post.excerpt | number_of_words %} 
	
<article class="Teaser">
	<header>
		<div class="ArticleMeta">
			Tags:
			<ul class="ArticleCategories">
				{% for tag in post.tags %}
				<li><a href="/tags/{{ tag }}">{{ tag }} </a></li>
				{% endfor %}
			</ul>
			<span class="ArticleDate">Date: <time>{{ post.date | date: "%Y-%m-%d" }}</time></span>
		</div>
		{% if excerpt_words != content_words %}
		<h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
		{% else %}
		<h2>{{ post.title }}</h2>
		{% endif %}
	</header>
	<blockquote cite="{{ post.url | prepend: site.baseurl }}">
		{{ post.excerpt }}
	</blockquote>
	
	{% if excerpt_words != content_words %}
	<p class="typl8-blockquote">
		<cite><a href="{{ post.url | prepend: site.baseurl }}">Read the article</a></cite>
	</p>
	{% endif%}
	
</article>
{% endfor %}