<footer>
	<hr>
	<nav class="footer">
		<a class="typl8-zeta" href="/Impressum.html">Impressum</a>
		<a class="typl8-zeta" href="/Datenschutz.html">Datenschutz</a>		
		<a class="typl8-zeta" href="https://twitter.com/_birger">Twitter</a>
	</nav>	
</footer>