<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@_birger" />
  <meta name="twitter:title" content="{{ page.title }}" />
  <meta name="twitter:description" content="{{ page.excerpt | strip_html }}" />
  <meta name="google-site-verification" content="2GNbVXKrxU_MGUnPk2xlZMNb8XBEH7IaHRYSOKdfwHY" />

  <meta content="{{ site.title }}" property="og:site_name">
  {% if page.title %}
    <meta content="{{ page.title }}" property="og:title">
  {% else %}
    <meta content="{{ site.title }}" property="og:title">
  {% endif %}
  {% if page.title %}
    <meta content="article" property="og:type">
  {% else %}
    <meta content="website" property="og:type">
  {% endif %}

  {% if page.excerpt %}
    <meta content="{{ page.excerpt | strip_html }}" property="og:description">
  {% else %}
    <meta content="Articles and snippets about web development in general, and TYPO3 in particular." property="og:description">
  {% endif %}

  {% if page.url %}
    <meta content="{{ site.url }}{{ page.url }}" property="og:url">
  {% endif %}
  {% if page.date %}
    <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
    <meta content="http://facebook.com/birger.fuhne" property="article:author">
  {% endif %}
  {% if page.categories %}
    {% for category in page.categories limit:1 %}
    <meta content="{{ category }}" property="article:section">
    {% endfor %}
  {% endif %}
  {% if page.tags %}
    {% for tag in page.tags %}
    <meta content="{{ tag }}" property="article:tag">
    {% endfor %}
  {% endif %}

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <link rel="icon" type="image/ico" href="/favicon.ico">
  <style type="text/css">
   .Pagination{display:flex;align-items:center;justify-content:center}.Pagination .audible{position:absolute;left:-9999px}.Pagination ul{margin-bottom:0;padding-bottom:0}.Pagination li{display:inline;margin:0 2px}.Pagination li a,.Pagination .prev,.Pagination .next{padding:2px 5px;text-decoration:none}.Pagination .prev:before{content:"← "}.Pagination .next:after{content:" →"}.highlight .c{color:#999988;font-style:italic}.highlight .err{color:#a61717;background-color:#e3d2d2}.highlight .k{font-weight:bold}.highlight .o{font-weight:bold}.highlight .cm{color:#999988;font-style:italic}.highlight .cp{color:#999999;font-weight:bold}.highlight .c1{color:#999988;font-style:italic}.highlight .cs{color:#999999;font-weight:bold;font-style:italic}.highlight .gd{color:#000000;background-color:#fdd}.highlight .gd .x{color:#000000;background-color:#faa}.highlight .ge{font-style:italic}.highlight .gr{color:#a00}.highlight .gh{color:#999}.highlight .gi{color:#000000;background-color:#dfd}.highlight .gi .x{color:#000000;background-color:#afa}.highlight .go{color:#888}.highlight .gp{color:#555}.highlight .gs{font-weight:bold}.highlight .gu{color:#aaa}.highlight .gt{color:#a00}.highlight .kc{font-weight:bold}.highlight .kd{font-weight:bold}.highlight .kp{font-weight:bold}.highlight .kr{font-weight:bold}.highlight .kt{color:#445588;font-weight:bold}.highlight .m{color:#099}.highlight .s{color:#d14}.highlight .na{color:teal}.highlight .nb{color:#0086B3}.highlight .nc{color:#445588;font-weight:bold}.highlight .no{color:teal}.highlight .ni{color:purple}.highlight .ne{color:#990000;font-weight:bold}.highlight .nf{color:#990000;font-weight:bold}.highlight .nn{color:#555}.highlight .nt{color:navy}.highlight .nv{color:teal}.highlight .ow{font-weight:bold}.highlight .w{color:#bbb}.highlight .mf{color:#099}.highlight .mh{color:#099}.highlight .mi{color:#099}.highlight .mo{color:#099}.highlight .sb{color:#d14}.highlight .sc{color:#d14}.highlight .sd{color:#d14}.highlight .s2{color:#d14}.highlight .se{color:#d14}.highlight .sh{color:#d14}.highlight .si{color:#d14}.highlight .sx{color:#d14}.highlight .sr{color:#009926}.highlight .s1{color:#d14}.highlight .ss{color:#990073}.highlight .bp{color:#999}.highlight .vc{color:teal}.highlight .vg{color:teal}.highlight .vi{color:teal}.highlight .il{color:#099}/*!
   Typeplate : Starter Kit
   URL ........... http://typeplate.com
   Version ....... 3.0.2
   Github ........ https://github.com/typeplate/starter-kit
   Authors ....... Dennis Gaebel (@gryghostvisuals) & Zachary Kain (@zakkain)
   License ....... Creative Commmons Attribution 3.0
   License URL ... https://github.com/typeplate/starter-kit/blob/master/license.txt
   */@font-face{font-family:"Ampersand";src:local("Georgia"),local("Garamond"),local("Palatino"),local("Book Antiqua");unicode-range:U+0026}@font-face{font-family:"Ampersand";src:local("Georgia");unicode-range:U+270C}.typl8-tera,.typl8-giga,.typl8-mega,.typl8-alpha,h1,.typl8-beta,h2,.typl8-gamma,h3,.LogoContainer .typl8-beta,.LogoContainer h2,article h1,.typl8-delta,h4,article h2,.typl8-epsilon,.MainNav-item,article h3,article.Teaser h2,.typl8-zeta,h5,h6{text-rendering:optimizeLegibility;line-height:1;margin-top:0;color:#222}blockquote+figcaption cite{display:block;font-size:inherit;text-align:right}body{word-wrap:break-word}pre code{word-wrap:normal}html{font:normal 112.5%/1.65 "Exo 2",sans-serif,serif}body{-webkit-hyphens:auto;-moz-hyphens:auto;-ms-hyphens:auto;hyphens:auto;color:#444}.typl8-tera{font-size:6.5em;margin-bottom:3.93939rem}.typl8-giga{font-size:5em;margin-bottom:3.0303rem}.typl8-mega{font-size:4em;margin-bottom:2.42424rem}.typl8-alpha,h1{font-size:3.33333em;margin-bottom:2.0202rem}.typl8-beta,h2{font-size:2.66667em;margin-bottom:1.61616rem}.typl8-gamma,h3,.LogoContainer .typl8-beta,.LogoContainer h2,article h1{font-size:2em;margin-bottom:1.21212rem}.typl8-delta,h4,article h2{font-size:1.33333em;margin-bottom:.80808rem}.typl8-epsilon,.MainNav-item,article h3,article.Teaser h2{font-size:1.16667em;margin-bottom:.70707rem}.typl8-zeta,h5,h6{font-size:1em;margin-bottom:.60606rem}p{margin:auto auto 1.5rem}small{font-size:65%}input,abbr,acronym,blockquote,code,kbd,q,samp,var{-webkit-hyphens:none;-moz-hyphens:none;-ms-hyphens:none;hyphens:none}pre{white-space:pre}pre code{white-space:-moz-pre-wrap;white-space:pre-wrap}code{white-space:pre;font-family:monospace}abbr{-webkit-font-variant:small-caps;-moz-font-variant:small-caps;-ms-font-variant:small-caps;font-variant:small-caps;font-weight:600;text-transform:lowercase;color:gray}abbr[title]:hover{cursor:help}.typl8-drop-cap:first-letter{float:left;margin:0px 10px 0 0;padding:0 20px;font-size:4em;font-family:Georgia;line-height:1;text-indent:0;background:transparent;color:#222}p+.typl8-drop-cap{text-indent:0;margin-top:0}.typl8-lining dt,.typl8-lining dd{display:inline;margin:0}.typl8-lining dt+dt:before,.typl8-lining dd+dt:before{content:"\A";white-space:pre}.typl8-lining dd+dd:before{content:", "}.typl8-lining dd:before{content:": ";margin-left:-0.2rem}.typl8-dictionary-style dt{display:inline;counter-reset:definitions}.typl8-dictionary-style dt+dt:before{content:", ";margin-left:-0.2rem}.typl8-dictionary-style dd{display:block;counter-increment:definitions}.typl8-dictionary-style dd:before{content:counter(definitions,decimal) ". "}.typl8-pull-quote{position:relative;padding:1em}.typl8-pull-quote:before,.typl8-pull-quote:after{height:1em;opacity:.5;position:absolute;font-size:4em;color:#dc976e}.typl8-pull-quote:before{content:'“';top:0;left:0}.typl8-pull-quote:after{content:'”';bottom:0;right:0}.wf-active body,.wf-inactive body{opacity:1;-webkit-transition:opacity .1s ease-out;-moz-transition:opacity .1s ease-out;-o-transition:opacity .1s ease-out;transition:opacity .1s ease-out}body{padding:1em;max-width:40em;margin:0 auto;opacity:0;font-family:'Exo 2', sans-serif;background-color:#f5f5f5;color:#444}a{color:#de4d1f}a:hover{color:#c8451c;transition:all .3s ease-out}.MainNav-item{color:#2d2d2d;text-decoration:none}.MainNav-item:hover{color:#de4d1f}@media (min-width: 480px){.MainNav-item{font-size:"1.33333em";margin-bottom:.80808rem}}body>header{margin-bottom:1em;border-bottom:1px solid #444}@media (min-width: 480px){body>header{margin-bottom:3em}}.HeaderLogo{max-width:12.5em}img{width:100%;max-width:100%;height:auto}.Wordbrand{padding-top:.6em;padding-left:1em}.LogoContainer{display:flex;flex-direction:row;justify-content:flex-start;align-items:center;margin:.5em 0 .5em 0}@media screen and (min-width: 480px){.LogoContainer{margin:2em 0 1.5em 0}}.LogoContainer a{text-decoration:none}@media (min-width: 480px){.LogoContainer .typl8-beta,.LogoContainer h2{font-size:2.66667em;margin-bottom:1.61616rem}}.MainNav{display:flex;flex-flow:row nowrap;justify-content:space-between}.ArticleMeta{margin-bottom:.25em}.ArticleMeta:after{content:"";display:table;clear:both}article h1{color:#c8451c}@media (min-width: 768px){article h1{font-size:3.33333em;margin-bottom:2.0202rem}}@media (min-width: 768px){article h2{font-size:2.66667em;margin-bottom:1.61616rem}}@media (min-width: 768px){article h3{font-size:2em;margin-bottom:1.21212rem}}.ArticleCategories{display:inline;margin:0;padding:0}.ArticleCategories li{display:inline-block;list-style:circle}.ArticleCategories li:before{content:"\00b7";display:inline;padding:0 2px;font-weight:bold}.ArticleDate{display:block}@media screen and (min-width: 480px){.ArticleDate{float:right}}.typl8-drop-cap:first-letter{font-size:3em}@media screen and (min-width: 480px){.typl8-drop-cap:first-letter{font-size:4em}}article.Teaser{margin:1em 0 4em 0}article.Teaser blockquote{margin-left:0}@media (min-width: 768px){article.Teaser h2{font-size:1.33333em;margin-bottom:.80808rem}}figure.highlight{background-color:rgba(220,220,220,0.8)}pre{overflow-x:scroll}pre.lineno{padding-right:1em;padding-left:.5em}nav.footer{display:flex}nav.footer a{padding-right:1em}nav.footer a:last-of-type{margin-left:auto;padding-right:0}

   </style>
  
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  <script type="text/javascript">
  		WebFontConfig = {
  			google: { families: [ 'Exo+2:400,600,400italic:latin' ] },
  			timeout: 2000
  		};
  		(function() {
  			var wf = document.createElement('script');
  			wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
  			wf.type = 'text/javascript';
  			wf.async = 'true';
  			var s = document.getElementsByTagName('script')[0];
  			s.parentNode.insertBefore(wf, s);
  		})(); </script>
</head>
