@function color($key) {
  @if map-has-key($colors, $key) {
	@return map-get($colors, $key);
  }

  @warn "Unknown `#{$key}` in $colors.";
  @return null;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}