/* Widget CSS
  credits go to https://mikewest.org/static_content/2010-02-pagination-pattern.html
*/
.Pagination {
  display: flex;
  align-items: center;
  justify-content: center;

  .audible {
    position: absolute;
    left: -9999px;
  }

  ul {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  li {
    display: inline;
    margin: 0 2px;
  }
  li a, .prev, .next {
    padding: 2px 5px;
    text-decoration: none;
  }

  .prev:before {
    content: "← ";
  }

  .next:after {
    content: " →";
  }

}
