---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
	<header>
	    <div class="ArticleMeta">
	        Tags:
	        <ul class="ArticleCategories">
	        	{% for tag in page.tags %}
	            	<li><a href="/tags/{{ tag }}">{{ tag }} </a></li>
	            {% endfor %}
	        </ul>	        
	        <span class="ArticleDate">Date: <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%Y-%m-%d" }}</time></span>

	    </div>
	    <h1>{{ page.title }}</h1>	    
	</header>
	{{ content }}

	<p>
		<small itemprop="author" itemscope itemtype="http://schema.org/Person">
			Author: <span itemprop="name">{{ page.author }}</span>
		</small>
	</p>
	
</article>
